name: Integration
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - ".*"
      - ".github/**"
      - "README.md"
jobs:
  molecule:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ansible/community-ansible-dev-tools:latest
      options: --storage-opt=overlay.mount_program=/usr/bin/fuse-overlayfs
      # --storage-driver=overlay
      # cgroup_manager: cgroupfs
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - run: ansible-galaxy collection install -r molecule/requirements.yml
        working-directory: "${{ github.repository }}"
      - run: molecule test --scenario-name "${{ matrix.scenario }}"
        working-directory: "${{ github.repository }}"
