name: Integration
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - ".*"
      - ".github/**"
      - "README.md"
jobs:
  molecule:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ansible/community-ansible-dev-tools:latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - run: sudo dnf install podman -y && podman version
      - run: molecule test --scenario --scenario-name "${{ matrix.scenario }}"
