name: Integration
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - ".*"
      - ".github/**"
      - "README.md"
jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.0"
      - run: uv sync
        working-directory: "${{ github.repository }}"
      - run: uv run ansible-galaxy collection install -r molecule/requirements.yml
        working-directory: "${{ github.repository }}"
      - run: uv run molecule test --scenario-name "${{ matrix.scenario }}"
        working-directory: "${{ github.repository }}"
